<h1>Edit the Undead</h1>
<div class="page_links">
<%= link_to "browse", undead_path(@undead) %> | edit
</div>
<%= form_for @undead do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :date_of_birth %>
    <%= f.text_field :date_of_birth %>
  </div>
  <div>
    <%= f.label :date_undeath %>
    <%= f.text_field :date_undeath %>
  </div>
  <%= f.submit "Save changes"%>
<% end %>